// Font
$sans:              'Ubuntu', Helvetica, Arial, sans-serif;

// Colors
//$color1:            #276a76;
//$color2:            #2e8d9e;
//$color3:            #32b2c9;

$color1:            #ff8f81;
$color2:            #f95b4b;
$color3:            #f3320e;

$white:             #FAFAFA;
$gray:              #1f1f1f;

// Overrides
$brand-color:       $color2;
$brand-face:        $sans;

$use-grids:         true;
$use-nav:           true;
$use-block-list:    true;
