/**
 * Fonts
 */
$slab:    "adelle", "Segoe UI", Ubuntu, Helvetica, Arial, sans-serif;
$sans:    "source-sans-pro", "Segoe UI", Ubuntu, Helvetica, Arial, sans-serif;

/**
 * Base Colors
 */
$color-1: #EE2B43;
$color-2: #037F8C;
$color-3: #BF2C47;
$color-4: #F23535;

$white:   #FAFAFA;
$gray:    #222;