// Custom Variables
@import "variables";

@import "inuit";

body {
  background: $white;
  color: $gray;
  font-family: $sans;
  font-weight: 300;
}

.wrapper {
  max-width: 60rem;
}
a {
  text-decoration: none;
  color: $color1;
  &:hover {
    color: $color2;
  }
}

strong {
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 400;
}
