---
layout: default
title: Notes and articles of an android developer - Jay Rambhia
about: 'about-me/'
---

<header class="main-header" style="no-cover">
    <nav class="main-nav overlay clearfix">
            {% if page.logo %}
                <a class="blog-logo" href="{{ site.url }}">
                    <img src="{{ page.logo }}" alt="Blog Logo" />
                </a>
            {% endif %}
        <a class="subscribe-button icon-feed" href="{{ site.url }}/feed.xml">Subscribe</a>
    </nav>
    <div class="vertical">
        <div class="main-header-content inner">
            <h1 class="page-title">{{ site.name }}</h1>
            <h2 class="page-description">
                {% if site.description %} {{ site.description }} {% endif %}
                {% if page.about %} <a class="main-page-link" href='{{ site.url }}/{{ page.about }}'> About me</a> {% endif %}
                <br/><br/>
                <p> Looking for something specific? Check out <a href='{{ site.url }}/{{ site.archives }}'>Archives</a>.</p>
                <div align="center">
                <a class="github-button" href="https://github.com/jayrambhia" aria-label="Follow @jayrambhia on GitHub" data-size="large">Follow</a>
            </div>
            </h2>
        </div>
    </div>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
    <script async defer src="https://buttons.github.io/buttons.js"></script>
</header>


<main id="content" class="content" role="main">
  {% if page.url == "/" %}
  <article class="post">
    <header class="post-header" style="margin-bottom: 36px;">
      <h2 class="post-title">Featured article series</h2>
    </header>
    <section class="post-excerpt">
      <div class="card_wrapper">
        {%- for post in site.posts %}
          {%- if post.category == "Series" and post.featured %}
            {% include series_card.html post=post %}
          {% endif %}
        {% endfor %}
      </div>
    </section>
    <br/>
    <div style="text-align:center;">
      <div class="show_more_button" onclick="trackAndNavigate('Home', 'tap', 'discover series', '{{ site.series }}');" style="display: inline-flex;padding: 8px 24px 8px 24px;"><b>Discover</b></div>
    </div>
  </article>
  {% endif %}


    <div class="extra-pagination inner">
        {% include pagination.html %}
    </div>

    {% assign first_post = true %}

    {% for post in paginator.posts %}
    {% if post.hidden == true %}
        {% continue %}
    {% endif %}

    <article class="post">
      {% if first_post and page.url == "/" %}
        <header class="post-header" style="margin-bottom: 24px;">
          <h2 class="post-title">Articles</h2>
        </header>
        {% assign first_post = false %}
      {% endif %}
        <header class="post-header">
            <h4 class="post-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
        </header>
        <section class="post-excerpt">
            {{ post.excerpt }} <a class="read-more" href="{{ post.url }}">&raquo;</a>
        </section>
        <footer class="post-meta">
            {% if post.tags.size > 0 %}
                Posted {{ post.tags | array_to_sentence_string | prepend: 'in ' }}
            {% endif %}
            <time class="post-date" datetime="{{ post.date | date:"%Y-%m-%d" }}">
                {{ post.date | date_to_string }}
            </time>
        </footer>
    </article>

    <!-- Capser below -->
<!--     <article class="{{post_class}}">
    <header class="post-header">
        <h2 class="post-title"><a href="{{url}}">{{{title}}}</a></h2>
    </header>
    <section class="post-excerpt">
        <p>{{excerpt words="26"}} <a class="read-more" href="{{url}}">&raquo;</a></p>
    </section>
    <footer class="post-meta">
        {{#if author.image}}<img class="author-thumb" src="{{author.image}}" alt="Author image" nopin="nopin" />{{/if}}
        {{author}}
        {{tags prefix=" on "}}
        <time class="post-date" datetime="{{date format='YYYY-MM-DD'}}">{{date format="DD MMMM YYYY"}}</time>
    </footer>
    </article> -->
    <!--  -->

    {% endfor %}

    {% include pagination.html %}
    <article class="post">

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.k_author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.url }}/{{ page.about }}" style="background-image: url(/assets/images/profile.jpg)">
                    <span class="hidden">{{site.k_author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.k_author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        Android Developer at Booking.com<br/>Fixing problems one bug at a time! Also, the views expressed here are mine and not my employers.
                        <span style="display: inline;">
                        <a href="https://twitter.com/jayrambhia" class="twitter-follow-button" data-show-count="false">Follow @jayrambhia</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                        <a class="github-button" href="https://github.com/jayrambhia" aria-label="Follow @jayrambhia on GitHub" data-size="small">Follow @jayrambhia<script async src="https://buttons.github.io/buttons.js"></script></a>
                        </span>
                    </p>
                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

        </footer>
    </article>

</main>
