<html>
<div class="read_next_card" style="margin-top:24px;">
  <div class="read_next_card_wrapper">
    <div>
      <h4 style="color: #fafafa;">{{ include.title }}</h4>
      <p class="read_next_content">{{ include.description }}</p>
    </div>
    <div class="read_next_button" onclick="navigate('{{ include.url }}');" style="cursor: pointer;">
      <b>Read now</b>
    </div>
    <script>
      function navigate(url) {
        trackEvent('Article', 'tap', 'recommended');
        window.location.href = url;
      }
    </script>
  </div>
</div>
</html>
