---
layout: base
---
<div class="post {{page.slug}}">
	<header class="g one-quarter portable-one-whole post--header">
  		<h1 class="post_title">{{ page.title }}</h1>
  		<div class="meta"><date class="date">Posted on {{ page.date | date_to_long_string }}</date><br/>Under <span class="category">{{ page.category }}</a>{% if page.tags != empty %}<br/>Tagged </span><span class="tags">{{ page.tags | array_to_sentence_string }}</span>{% endif %}</div>
      <div class="share island">
        <a href="https://twitter.com/share" class="twitter-share-button" data-via="jayrambhia" data-related="jayrambhia">Tweet</a>
        <div class="g-plusone" data-size="medium"></div>
        <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
      </div>
      <div id="boastful"></div>
	</header><!-- post-header -->
	<div class="g three-quarters portable-one-whole">
		<article class="post--content">
	  	{{ content }}  
		</article><!-- post-content -->
		<footer class="post--footer"></footer><!-- post-footer -->
    <section class="meta--info island">
      <p class="lead">
        <br/><br/>If you liked this post, then you should follow Jay on twitter too. He would be excited to know that you like his work.
      </p>
      <a href="https://twitter.com/jayrambhia" class="twitter-follow-button" data-show-count="false">Follow @jayrambhia</a>
    </section>
  </div>
</div><!-- post -->

<script src="//ajax.googleapis.com/ajax/libs/jquery/1.5.1/jquery.min.js"></script>
<script src="/assets/js/jquery.boastful.js"></script>
<script src="/assets/js/rainbow-custom.min.js"></script>

<script type="text/javascript">
  $(document).ready(function() {
    $('#boastful').boastful({
        empty_message: '<p>Bah! Why ain\'t anyone tweeting this.</p>'  
    });
  });
</script>