---
layout: default
disqus: false
archive: false
post_class: post-template
---
<header class="main-header post-head {% if page.cover %}" style="background-image: url({{ page.cover }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.cover %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.url }}">Home</a>
        <a class="subscribe-button" href="{{ site.url }}/{{ site.archives }}">Archives</a>
    </nav>
</header>

<main class="content" role="main">

    <article class="post">

        <header class="post-header">
            <h1 class="post-title">{{ page.title }}</h1>
            <section class="post-meta">
                <time class="post-date" datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
                {% if page.category_tag.size > 0 %}
                    {{ page.category_tag | array_to_sentence_string | prepend: 'on ' }}
                {% elsif page.tags.size > 0 %}
                    {{ page.tags | array_to_sentence_string | prepend: 'on ' }}
                {% endif %}
            </section>
            <br />
        </header>

<!--         <header class="post-header">
            <a id="blog-logo" href="{{site.url}}">
                {% if site.logo %}
                    <img src="{{site.logo}}" alt="{{ site.name }}" />
                {% else %}
                    <span class="blog-title">{{ site.name }}</span>
                {%endif%}
            </a>
        </header> -->

        <!-- <span class="post-meta">
            <time datetime="{{ page.date | date:"%Y-%m-%d" }}">{{ page.date | date_to_string }}</time>
            {% if page.categories.size > 0 %}
                {{ page.categories | array_to_sentence_string | prepend: 'on ' }}
            {% endif %}
        </span> -->

        <!-- <h1 class="post-title">{{ page.title }}</h1> -->

        <section class="post-content">
            {{content}}
            {% assign next_post = false %}
            {% for post in site.posts reversed %}
              {% if next_post and post.category != "Series" and post.category != "Project" %}
                <div class="read_next_card">
                  <div class="read_next_card_wrapper">
                    <div>
                      <h4 style="color: #fafafa;">{{ post.title }}</h4>
                      <p class="read_next_content">{{ post.description }}</p>
                    </div>
                    <div class="read_next_button" onclick="location.href='{{ post.url }}';" style="cursor: pointer;">
                      <b>Read next</b>
                    </div>
                  </div>
                </div>
                {% assign next_post = false %}
                {% break %}
              {% endif %}
              {% if post.url == page.url %}
                {% assign next_post = true %}
              {% endif %}
            {% endfor %}
        </section>

        <!-- {% if page.archive %}
        <section class="archive">
            <h5>Archive</h5>
            <ul>
                {% for post in site.posts %}
                    <li><span>{{ post.date | date_to_string }}</span>  <a href="{{ post.url }}">{{ post.title }}</a></li>
                {% endfor %}
            </ul>
        </section>
        {% endif %} -->

        <footer class="post-footer">
            <!-- If we want to display author's name and bio -->
            {% if site.k_author %}
                <figure class="author-image">
                    <a class="img" href="{{ site.url }}" style="background-image: url(/assets/images/profile.jpg)">
                    <span class="hidden">{{site.k_author}}'s Picture</span></a>
                </figure>
                <section class="author">
                    <!-- Author Name -->
                    <h4> {{ site.k_author }} </h4>
                    <!-- Author Bio -->
                    <p>
                        Android Developer at Booking.com<br/>Fixing problems one bug at a time! Also, the views expressed here are mine and not my employers.<br/>
                        Check out my latest app - <b><a href="https://play.google.com/store/apps/details?id=com.fenchtose.flutter&referrer=utm_source%3Dwebsite_footer">Flutter - Instant movie ratings</a></b> which shows movie ratings on-demand when browsing Netflix and other streaming apps.
                    </p>

                    <div class="post_bottom_share_container">
                      <div align="center">
                        <a href="https://twitter.com/jayrambhia" class="twitter-follow-button" data-show-count="false">Follow @jayrambhia</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                      </div>
                      <div align="center" style="margin-top:20px;">
                        <div>
                          <a class="github-button" href="https://github.com/jayrambhia" aria-label="Follow @jayrambhia on GitHub" data-size="small">Follow @jayrambhia<script async src="https://buttons.github.io/buttons.js"></script></a>
                        </div>
                      </div>
                    </div>

                </section>
            {% endif %}

            <!-- Share links section -->
            {% include share.html %}

            <!-- Disqus comments -->
            {% include disqus.html %}

        </footer>

    </article>

</main>
