---
layout: default
disqus: true
archive: false
post_class: post-template
---
<header class="main-header post-head {% if page.series_cover.image %}" style="background-image: url({{ page.series_cover.image }}) {%else%}no-cover{% endif %}">
    <nav class="main-nav {% if page.series_cover.image %} overlay {% endif %} clearfix">
        <a class="back-button icon-arrow-left" href="{{ site.url }}">Home</a>
        <a class="subscribe-button" href="{{ site.url }}/{{ site.series }}">Series</a>
    </nav>
    <a class="scroll-down icon-arrow-left" href="#content" data-offset="-45"><span class="hidden">Scroll Down</span></a>
</header>

<main id="content" class="content" role="main">
  <article class="post">
    <header class="post-header">
      <h1 class="post-title">{{ page.title }}</h1>
    </header>

    <section class="post-content">
      <br/>
      {{ content }}
      <h2> Articles </h2>
      <ol type="1">
      {%- for post in site.posts reversed %}
      {%- if post.series == page.identifier %}
      <article>
        <header class="post-header">
          <h4 class="post-title-small"><li><a href="{{ post.url }}">{{ post.title }}</a></li></h3>
        </header>
        <section class="post-excerpt">
          {{ post.series_description }}
        </section>
      </article>
      <br/>
      {%- endif %}
      {%- endfor %}
    </ol>
    </section>
    <footer class="post-footer">
        <!-- If we want to display author's name and bio -->
        {%- if site.k_author %}
            <figure class="author-image">
                <a class="img" href="{{ site.url }}" style="background-image: url(/assets/images/profile.jpg)">
                <span class="hidden">{{site.k_author}}'s Picture</span></a>
            </figure>
            <section class="author">
                <!-- Author Name -->
                <h4> {{ site.k_author }} </h4>
                <!-- Author Bio -->
                <p>
                    Android Developer at Booking.com<br/>Fixing problems one bug at a time! Also, the views expressed here are mine and not my employers.<br/>
                    Check out my latest app - <b><a href="https://play.google.com/store/apps/details?id=com.fenchtose.flutter&referrer=utm_source%3Dwebsite_footer">Flutter - Instant movie ratings</a></b> which shows movie ratings on-demand when browsing Netflix and other streaming apps.
                    <a href="https://twitter.com/jayrambhia" class="twitter-follow-button" data-show-count="false">Follow @jayrambhia</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script>
                    <a class="github-button" href="https://github.com/jayrambhia" aria-label="Follow @jayrambhia on GitHub" data-size="small">Follow @jayrambhia<script async src="https://buttons.github.io/buttons.js"></script></a>
                </p>

            </section>
        {%- endif %}

        <!-- Share links section -->
        {% include share.html %}

        <!-- Disqus comments -->
        {% include disqus.html %}

    </footer>
  </article>
</main>
